:root {
	/* ------- colors ------- */
	--primary-color: ##75dddd;
	--secondary-color: #7f055f;
	--tertiary-color: #e5a4cb;
	--quaternary-color: #ebd2be;
	--link-color: #45062e;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
